<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="properties/html-dependencies.html :: default" />

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-transparent" th:fragment="navbar">
    <script src="/js/common/navbar-logout.js"></script>
    <a class="navbar-brand">BudgetKu</a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/workspace/list">My workspaces<span class="sr-only">(current)</span></a>
        </li>
    </ul>

    <ul class="navbar-nav ms-auto">
        <button type="button" class="btn btn-outline-danger" onclick="onLogOut();">log out</button>
    </ul>

    <th:block th:include="common/bootstrap-components.html :: modal"></th:block>
    <th:block th:include="common/bootstrap-components.html :: toast"></th:block>
</nav>
</body>
</html>

