<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="properties/html-dependencies.html :: overview" />
    <!--    <script src="/js/common/transaction-list.js"></script>-->

    <meta charset="UTF-8">
    <title>Overview</title>
</head>
<body style="padding: 10px;">
<div class="main-container">
    <div class="text-center">
        <h1>Saldo Saat Ini</h1>
        <h4 class="saldo" th:text="${saldo}">Saldo</h4>
    </div>
    <div class="text-center">
        <h1>Bulan Ini</h1>
        <b>Total Pemasukan: </b>
        <b class="pemasukan" th:text="${pemasukan}">Pemasukan</b>
        <b>Total Pengeluaran: </b>
        <b class="pengeluaran" th:text="${pengeluaran}">Pengeluaran</b>
        <b>Total Tagihan: </b>
        <b class="tagihan" th:text="${tagihan}">Tagihan</b>
    </div>
    <div class="d-flex justify-content-center">
        <form id = "button-lihatTransaksi" th:action = "@{/__${workspaceId}__/transaction-list}"  method="post">
                <input type="button" value="Lihat Transaksi" class="btn" />
        </form>
        <form id = "button-daftarKategoriPemasukan" th:action = "@{/__${workspaceId}__/kategori-pemasukan}"  method="post">
            <input type="button" value="Daftar Kategori Pemasukan" class="btn" />
        </form>
        <form id = "button-daftarSpendingAllowances" th:action = "@{/__${workspaceId}__/spending-allowance}"  method="post">
            <input type="button" value="Daftar Spending Allowances" class="btn" />
        </form>
    </div>




</div>
</body>
</html>