<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="properties/html-dependencies.html :: overview" />
    <!--    <script src="/js/common/transaction-list.js"></script>-->

    <meta charset="UTF-8">
    <title>Overview</title>
</head>
<body style="padding: 10px;" class="gradient-custom">
<div th:replace="common/navbar :: navbar"></div>
<div class="main-container">
    <div class="title-container">
        <h1 class="title">Overview</h1>
    </div>
    <div class="text-center">
        <h1>Saldo Saat Ini</h1>
        <h4 class="saldo" th:text="${saldo}">Saldo</h4>
    </div>
    <div class="text-center">
        <h1>Bulan Ini</h1>
        <b>Total Pemasukan: </b>
        <b class="pemasukan" th:text="${pemasukan}">Pemasukan</b>
        <br>
        <b>Total Pengeluaran: </b>
        <b class="pengeluaran" th:text="${pengeluaran}">Pengeluaran</b>
        <br>
        <b>Total Tagihan: </b>
        <b class="tagihan" th:text="${tagihan}">Tagihan</b>
    </div>
    <br>
    <br>
    <div class="">
        <a th:href="@{/__${workspaceId}__/transaction-list}" class="btn btn-secondary btn-sm" role="button" aria-expanded="false" >
            Lihat Transaksi
        </a>
        <a th:href="@{/__${workspaceId}__/kategori-pemasukan/list}" class="btn btn-secondary btn-sm" role="button" aria-expanded="false" >
            Daftar Kategori Pemasukan
        </a>
        <a th:href="@{/__${workspaceId}__/spending-allowance/list}" class="btn btn-secondary btn-sm" role="button" aria-expanded="false" >
            Daftar Spending Allowance
        </a>
    </div>
</div>
</body>
</html>