<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<!--    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>-->
    <th:block th:include="properties/html-dependencies.html :: financialEvent" />
    <script src="/js/common/transaction-list.js"></script>
    <script src="/js/common/transaction-form.js"></script>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="padding: 10px;" class="gradient-custom">
<div th:replace="common/navbar :: navbar"></div>
<div class="main-container">
    <div class="title-container">
        <h1 class="title">Transactions</h1>
    </div>
    <div class="shadowed-box" th:each="financialEvent: ${financialEvents}">

        <div class="modal fade" th:id="|editModal${financialEvent.getId()}|" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" th:text="${'Edit ' + financialEvent.getNama()}">Edit Transaction</h5>
                        <button type="button" class="btn-close close-btn" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="#"  th:action="@{/__${workspaceId}__/transaction-list}" th:object="${dto}" method="post">
                         <div class="modal-body">
                            <input type="text" hidden name="id" th:value="${financialEvent.getId()}">
                            <input type="text" hidden name="type" th:value="${financialEvent.getClass().getSimpleName()}">
                            <label for="nama">Nama</label>
                            <input id="nama" name="nama" type="text" class="form-control" th:value="${financialEvent.getNama()}">
                            <label for="keterangan">Keterangan</label>
                            <input id="keterangan" name="keterangan" type="text" class="form-control" th:value="${financialEvent.getKeterangan()}">
                            <label for="waktu">Waktu</label>
                            <input id="waktu" name="waktu" type="date" class="form-control" th:value="${#strings.arraySplit(financialEvent.getWaktu(), 'T')[0]}">
                            <label for="nominal">Nominal</label>
                            <input id="nominal" name="nominal" type="number" class="form-control" th:value="${financialEvent.getNominal()}">
                            <div th:if="${financialEvent.getClass().getSimpleName() == 'Pemasukan'}">
                                <label for="kategoriId">Kategori ID</label>
                                <select id="kategoriId" name="kategoriId" class="form-select">
                                    <option value="" selected hidden>Pilih kategori pemasukan...</option>
                                    <option th:each="kategoriPemasukan:${kategoriPemasukans}" th:value="${kategoriPemasukan.getId()}" th:text="${kategoriPemasukan.getNama()}"></option>
                                </select>
<!--                                th:value="${((Pemasukan)financialEvent).getKategori().getId()} -->
                                </div>
                            <div th:unless="${financialEvent.getClass().getSimpleName() == 'Pemasukan'}">
                                <input type="text" hidden name="kategoriId" value="">
                            </div>
                         </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button class="btn btn-outline-secondary" type="submit" id="button-editFinancialEvent">Submit</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="inner-shadowed-box">
            <div class="name-box"
                 th:data-financial-event-id="${financialEvent.getId()}"
                 onclick="onToggleEditFinancialEvent(this);">
                <b class="name" th:text="${financialEvent.getNama()}">Name</b>
                <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" th:data-bs-target="|#editModal${financialEvent.getId()}|">
                    <i class="fa-regular fa-pen-to-square"></i>
                </button>
<!--                <i class="save-icon fa-regular fa-floppy-disk"></i>-->
            </div>

            <div class="type-div" th:text="${financialEvent.getClass().getSimpleName()}">
                type
            </div>
            <div class="nominal-div" th:text="${financialEvent.getNominal()}">
                nominal
            </div>
        </div>
        <div class="inner-red-box">
            <i class="fa-regular fa-trash-can"
               th:data-workspace-id="${workspaceId}"
               th:data-financial-event-id="${financialEvent.getId()}"
               th:data-financial-event-name="${financialEvent.getNama()}"
               th:data-financial-event-type="${financialEvent.getClass().getSimpleName()}"
               onclick="onRemoveFinancialEvent(this);"></i>
        </div>
    </div>


    <div id="flex-create-new" class="shadowed-box create-new" onclick="onShadowBoxCreateNew()">
        <div class="circle">
            <i class="fas fa-plus"></i>
        </div>
    </div>
</div>

<th:block th:include="common/transaction-form.html :: modal-form"></th:block>
<th:block th:include="common/bootstrap-components.html :: modal"></th:block>
<th:block th:include="common/bootstrap-components.html :: toast"></th:block>
</body>
</html>