<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="properties/html-dependencies.html :: workspace" />

    <meta charset="UTF-8">
    <title>Workspaces</title>
</head>
<body style="padding: 10px;">
<div class="main-container">
    <div class="row">
        <div class="shadowed-box" th:each="workspace: ${workspaces}">
            <div class="modal fade" th:id="|editModal${workspace.getId()}|" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form action="#"  th:action="@{/workspace/get}" th:object="${newWorkspace}" method="post">
                                <input type="text" hidden name="id" th:value="${workspace.getId()}">
                                <label for="nama">Nama</label>
                                <input id="nama" name="nama" type="text" class="form-control" th:value="${workspace.getNama()}">
                                <button class="btn btn-outline-secondary" type="submit" id="button-editFinancialEvent">Submit</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inner-shadowed-box" th:onclick="|window.location.href=@{/__${workspace.getId}__/workspace/get}|">
                <div class="card-block">
                    <h4 class="card-title" th:text="${workspace.getNama()}">Card title</h4>
                    <div class="edit-div">
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" th:data-bs-target="|#editModal${workspace.getId()}|">Edit</button>
                    </div>
                    <div class="inner-red-box">
                        <i class="delete-icon fa-regular fa-trash-can"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>