<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
  <th:block th:include="properties/html-dependencies.html :: budgeting" />
  <link href="/css/budgeting/kategori-pemasukan.css" rel="stylesheet">
  <script src="/js/budgeting/kategori-pemasukan.js"></script>

  <meta charset="UTF-8">
  <title>Kategori Pemasukan</title>
</head>
<body style="min-height: 95vh;" class="gradient-custom">
  <div th:replace="common/navbar :: navbar"></div>
  <div class="main-container">
    <div class="title-container">
      <h1 class="title">Kategori Pemasukan</h1>
    </div>



    <th:block th:each="kategoriPemasukan: ${kategoriPemasukans}">

      <div class="shadowed-box kategori-pemasukan">
        <div class="inner-shadowed-box">
          <div class="name-box">
            <b class="name"
               th:text="${kategoriPemasukan.getNama()}"
               th:data-workspace-id="${workspaceId}"
               th:data-kategori-id="${kategoriPemasukan.getId()}"
            ></b>


            <i class="edit-icon fa-solid fa-caret-down"></i>
            <i class="save-icon fa-solid fa-caret-up"></i>
            <span style="margin: 0 8px;"></span>

            <i class="fa-regular fa-pen-to-square"
               th:data-kategori-id="${kategoriPemasukan.getId()}"
               onclick="editKategori(this);"></i>
          </div>

            <div class="all-alokasi" style="display:none;">
                <th:block th:each="alokasi: ${kategoriPemasukan.getAlokasiSpendingAllowances()}">
                    <span th:text="${alokasi.getSpendingAllowance().getNama()}" clsas="spending-allowance"></span>
                    <span>
                      <span th:text="${alokasi.getBesarPersentaseAlokasi()}" class="alokasi"></span>%
                    </span>
                </th:block>
            </div>
        </div>

        <div class="inner-red-box">
          <i class="delete-icon fa-regular fa-trash-can"></i>
        </div>
      </div>
    </th:block>



    <div id="flex-create-new" class="shadowed-box create-new">
      <div class="circle">
        <i class="fas fa-plus"></i>
      </div>
    </div>

  </div>

<!--  <div class="position-fixed fixed-create-new-container">
    <div id="fixed-create-new" class="shadowed-box create-new hidden">
      <div class="circle">
        <i class="fas fa-plus"></i>
      </div>
    </div>
  </div>-->


  <th:block th:include="budgeting/spending-allowance-create.html :: default"></th:block>
  <th:block th:include="common/bootstrap-components.html :: modal"></th:block>
  <th:block th:include="common/bootstrap-components.html :: toast"></th:block>

</body>
</html>