<!DOCTYPE html>
<html lang="en">
<head>
  <th:block th:include="properties/html-dependencies.html :: budgeting" />
  <script src="/js/budgeting/common.js"></script>
  <script src="/js/budgeting/spending-allowance.js"></script>
  <meta charset="UTF-8">
  <title>Budgets</title>
</head>
<div th:replace="common/navbar :: navbar"></div>
<body style="min-height: 95vh;" class="gradient-custom">
  <div class="main-container">
    <div class="title-container">
      <h1 class="title">Budgets</h1>
    </div>
    <th:block th:each="spendingAllowance: ${spendingAllowances}">
      <div class="shadowed-box">
        <div class="inner-shadowed-box">
          <div class="name-box">
            <b class="name"
               th:text="${spendingAllowance.getNama()}"
               th:data-workspace-id="${workspaceId}"
               th:data-allowance-id="${spendingAllowance.getId()}"
            ></b>
            <i class="edit-icon fa-regular fa-pen-to-square"></i>
            <i class="save-icon fa-regular fa-floppy-disk"></i>
          </div>
          <div class="nominal-div">
            Rp. <th:block th:text="${spendingAllowance.getNominal()}"></th:block>
          </div>
        </div>

        <div class="inner-red-box">
          <i class="delete-icon fa-regular fa-trash-can"></i>
        </div>
      </div>
    </th:block>



    <div id="flex-create-new" class="shadowed-box create-new">
      <div class="circle">
        <i class="fas fa-plus"></i>
      </div>
    </div>

  </div>

<!--  <div class="position-fixed fixed-create-new-container">
    <div id="fixed-create-new" class="shadowed-box create-new hidden">
      <div class="circle">
        <i class="fas fa-plus"></i>
      </div>
    </div>
  </div>-->


  <th:block th:include="budgeting/spending-allowance-create.html :: default"></th:block>
  <th:block th:include="common/bootstrap-components.html :: modal"></th:block>
  <th:block th:include="common/bootstrap-components.html :: toast"></th:block>

</body>
</html>