<!DOCTYPE html>
<html lang="en">
<head>
  <th:block th:include="properties/html-dependencies.html :: budgeting" />
  <link href="/css/budgeting/create.css" rel="stylesheet">

  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body style="min-height: 95vh;">
  <div class="centerize full-screen">
    <div class="form-create">

    </div>
  </div>


  <th:block th:include="common/bootstrap-components.html :: modal"></th:block>
  <th:block th:include="common/bootstrap-components.html :: toast"></th:block>

</body>
</html>