:root {
    --main-blue: #62d2ff;
    --previous-blue: #4f69ed;

    --main-hover: #e1fcfa;

    --main-income: #57bbb3;
    --main-expense: #d3615e;

    --main-red: #e73a36;

    --main-dark: #344254;
    --main-grey: #c0c1c7;
    --main-light-grey: #d8d8e2;
    --main-white: #f4f6f5;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}