.centerize{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.full-screen{
    height: 98vh;
}


.form-create{
    height: 95%;
    width: 95%;

    min-height: 500px;

    border-radius: 15px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}